---
layout: page
description: "不要因走得太远而忘记为什么出发"
---

{% for post in paginator.posts %}
<!--<a  style="position: fixed;right: 100px;top: 100px ;cursor: pointer;border:1px solid gray" target="_blank"-->
<!--    href="http://wpa.qq.com/msgrd?v=3&uin=920093012&site=qq&menu=yes">-->
<!--    <img style="width:100px;cursor: pointer;"  src="https://github.com/AAWayne/AAWayne.github.io/blob/master/img/qqonline.png?raw=true" alt="iOS企业签名+Q"-->
<!--    title="iOS企业签名+Q"/>-->
<!--</a>-->
<!--description: "不要因走得太远而忘记为什么出发"-->
<!--description: "iOS企业签名商务合作, 加Q:920093012详谈(可按天/周/月/季/年计费)"-->
<div class="post-preview">
    <a href="{{ post.url | prepend: site.baseurl }}">
        <h2 class="post-title">
            {{ post.title }}
        </h2>
        {% if post.subtitle %}
        <h3 class="post-subtitle">
            {{ post.subtitle }}
        </h3>
        {% endif %}
        <div class="post-content-preview">
            {{ post.content | strip_html | truncate:200 }}
        </div>
    </a>
    <p class="post-meta">
        Posted by {% if post.author %}{{ post.author }}{% else %}{{ site.title }}{% endif %} on {{ post.date | date: "%B %-d, %Y" }}
    </p>
</div>
<hr>
{% endfor %}

<!-- Pager -->
{% if paginator.total_pages > 1 %}
<ul class="pager">
    {% if paginator.previous_page %}
    <li class="previous">
        <a href="{{ paginator.previous_page_path | prepend: site.baseurl | replace: '//', '/' }}">&larr; 上一页</a>
    </li>
    {% endif %}
    {% if paginator.next_page %}
    <li class="next">
        <a href="{{ paginator.next_page_path | prepend: site.baseurl | replace: '//', '/' }}">下一页 &rarr;</a>
    </li>
    {% endif %}
</ul>
{% endif %}
