<!DOCTYPE html>
<html lang="en">

{% include head.html %}

<!-- hack iOS CSS :active style -->
<body ontouchstart="">

    {% include nav.html %}

    {{ content }}

    {% include footer.html %}


<!-- Image to hack wechat -->
<img src="/img/apple-touch-icon.png" width="0" height="0" />
<!-- Migrate from head to bottom, no longer block render and still work -->
<!--<a  style="position: fixed;right: 100px;top: 100px ;cursor: pointer;border:1px solid gray" target="_blank"-->
<!--    href="http://wpa.qq.com/msgrd?v=3&uin=920093012&site=qq&menu=yes">-->
<!--    <img style="width:100px;cursor: pointer;"  src="https://github.com/90candy/90candy.github.io/blob/master/img/qqonline.png?raw=true" alt="iOS企业签名+Q"-->
<!--    title="iOS企业签名+Q"/>-->
<!--</a>-->
</body>

</html>
